<div class="row-container-10">
  <h1 id="Project">The Project.</h1>
  <p>
      Resilient Smart Gardens is a step towards sustainable systems. Our goal at RSG is to promote environmentalism,
      encourage a green thumb with smart gardening tactics, and conserve water. A Smart Garden is an embedded system to
      accompany any garden bed - providing its users the necessary data analysis tools to help their garden grow
      without depleting their resources. California's semi-permanent dry season has been taking a toll on its inhabitants
      - attempting to encourage a statewide effort to save water. But with Resilient Smart Gardens, our goal is to give
      your garden a chance. Worry not about your water usage. Choose Smart, and let Smart Gardens handle it for you.
  </p>
  <h1 id="Team">The Team.</h1>
  <p>
      Andrew Camarena<br />
      Chi Leung To<br />
      James Chavis<br />
  </p>
</div>
