<div class="grid">
  <!-- <figure class="effect-top-left"> <!-- sign in -->
  <!--  <figcaption>
        <h2 ng-if="!loggedIn()">Sign<span>in.</span></h2>
        <h2 ng-if="loggedIn()"><span>My</span>Garden</h2>
        <p ng-if="!loggedIn()">
            <input ng-model="username" placeholder="Username" type="text" />        
            <input ng-model="password" placeholder="Password" type="password" />
            <button ng-click="signIn(username,password)">Log In</button>
        </p>
        <p ng-if="loggedIn()">
            <a href="#/MyGarden#Active">View Active Plant</a><br/>
            <a href="#/MyGarden#MyPlants">My Plants</a><br/>
        </p>
    </figcaption>
  </figure> -->
  <figure class="effect-top-right"> <!-- about -->
    <figcaption>
      <h2><span>About.</span></h2>
      <p>
          <a href="#/About#Team">The Team.</a><br />
          <a href="#/About#Project">The Project.</a>
      </p>
    </figcaption>
  </figure>
  <figure class="effect-bot-right"> <!-- support -->
    <figcaption>
      <h2>support.</h2>
      <p>
          <a href="#/Support#Manual">User Manual.</a><br/>
          <a href="#/Support#FAQ">FAQ.</a>
      </p>
    </figcaption>
  </figure>
</div>

<img class="logo-big" src="./images/RSGlogo.png" alt="RSG Logo">