<h1>New Member? Register Here.</h1>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label>New Username</label>
            <input required ng-model="username" placeholder="Username" type="text" />
        </div>
        <div class="pure-control-group">
            <label>Password</label>
            <input ng-model="password" placeholder="Password" type="password" />
        </div>

        <div class="pure-controls">
            <button type="submit" class="btn btn-2 btn-2a" ng-click="signUp()">Sign Up!</button>
        </div>
    </fieldset>
</form>