<div class="row-container-10">
  <h1 style='border-bottom: thin solid lightgray; border-width: 1px'>
      Getting Started
  </h1>
  <h2>
      Hardware Shopping List
  </h2>
  <ul>
      <li><a href="https://www.amazon.com/gp/product/B00LPJQZ0E/ref=oh_aui_detailpage_o00_s01?ie=UTF8&psc=1">INTERNATIONAL RECTIFIER IRLB8721PBF N CHANNEL MOSFET, 30V, 62A, TO-220</a></li>
      <li><a href="https://www.amazon.com/gp/product/B01HA8ZMWK/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1">OctagonStar DHT11 Digital Humidity Temperature Sensor /Arudino</a></li>
      <li><a href="https://www.amazon.com/gp/product/B00MP5WY3Y/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1">Fafada Electric Solenoid Valve 1/2" DC 12V N/C Water Inlet Flow Switch Normally Closed</a></li>
      <li><a href="https://www.amazon.com/gp/product/B0087YKE02/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1">Uxcell a11092900ux0407 25 x 1N4001 Molded Plastic Case Rectifier Diodes, 1A, 50V</a></li>
      <li><a href="https://www.amazon.com/gp/product/B0099PFYNU/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1">12VDC 1A Regulated Switching Power Supply</a></li>
      <li><a href="https://www.amazon.com/gp/product/B00ZR3B60I/ref=oh_aui_detailpage_o03_s00?ie=UTF8&psc=1">XCSOURCE 5pcs Soil Moisture Sensor And Automatic Watering System for Arduino TE215</a></li>
      <li><a href="https://www.amazon.com/gp/product/B00NAY3RB2/ref=oh_aui_detailpage_o04_s00?ie=UTF8&psc=1">Adafruit MCP3008 - 8-Channel 10-Bit ADC With SPI Interface [ADA856]</a></li>
  </ul>
  <h2>
      Software Download List
  </h2>
  <ul>
      <li><a href="https://github.com/adafruit/Adafruit_Python_MCP3008">MCP 3008 libs</a></li>
      <li><a href="https://github.com/adafruit/Adafruit_Python_DHT">DHT22/11 libs</a></li>
  </ul>
  <h1>Smart Garden MCP3008 Wiring Video</h1>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/JAIShfXwgls"></iframe>
  <h1>Smart Garden Moisture sensor wiring</h1>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/2Zz2CHX9hPM"></iframe>
  <h1>Wiring of DHT11 temp/humidity sensor</h1>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/5-861iSQ_YQ"></iframe>
</div>
